<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Member Registration Form</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<h3 style="text-align: center; padding-top:50px">
			Member <span th:text="${formTitle}">Registration</span> Form
			<small class="text-muted">by Bs 4.x</small>
		</h3>
		<br>
		
		<form
			th:object="${memberDTO}"
			th:action="${formTitle != 'Registration' ? '/member/memberUpdateOk' : '/member/memberWriteOk'}"
			method="POST"
			id="memberWriteForm"
		>
		<input type="hidden" name="num" th:if="${formTitle} == 'Modification'" th:value="${num}">
		
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="Enter Name" minlength="2" maxlength="16" required>
			</div>
			
			<div class="form-group">
				<label for="id">ID</label>
				<input type="text" class="form-control" id="id" name="id" th:field="*{id}" placeholder="Enter ID" minlength="4" maxlength="16" required>
				<small class="text-muted">You can't share your ID with anyone else.</small>
			</div>
			
			<div class="form-group">
				<label for="phone">Phone</label>
				<input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" placeholder="Enter Phone number --> (sample) 010-123-4567" minlength="3" maxlength="12" required autocomplete="off">
				<!-- 
					설명: autocomplete
						form 요소에서 자동 완성 기능을 사용할지 말지를 on / off로 결정
						on으로 명시 시 사용자가 입력했었던 값들에 기초하여 입력 값과 유사한 값들을 드랍다운 형식으로 출력.
				
				 -->
			
			</div>
			
			<!-- button type="submit" class="btn btn-primary">Submit</button>  -->
		
		</form>
		
		<button type="submit" form="memberWriteForm" class="btn btn-primary" th:if="${formTitle} == 'Registration'">회원 등록</button>
		<button type="submit" form="memberWriteForm" class="btn btn-primary" th:if="${formTitle} == 'Modification'">회원 수정</button>
	
	</div>
	
</body>
</html>